# running a speedcheck every hour & sending to splunk
# */60 * * * * /Users/jrgarrigues/bin/jgspeed

# changed it to run from a copy of my script in github & sending to splunk
*/60 * * * * sh -c "$(curl -fsSL https://raw.githubusercontent.com/jgarr16/bash/main/jgspeed.sh)"
